<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\ProductVariantDataExporter\Model\Indexer\ProductVariantFeedIndexMetadata">
        <arguments>
            <argument name="feedName" xsi:type="string">variants</argument>
            <argument name="feedIdentity" xsi:type="string">id</argument>
            <argument name="sourceTableName" xsi:type="string">catalog_product_entity</argument>
            <argument name="sourceTableField" xsi:type="string">entity_id</argument>
            <argument name="feedTableName" xsi:type="string">catalog_data_exporter_product_variants</argument>
            <argument name="feedTableField" xsi:type="string">id</argument>
            <argument name="feedTableParentField" xsi:type="string">parent_id</argument>
            <argument name="feedTableChildField" xsi:type="string">product_id</argument>
            <argument name="relationsTableName" xsi:type="string">catalog_product_relation</argument>
            <argument name="relationsTableParentField" xsi:type="string">parent_id</argument>
            <argument name="relationsTableChildField" xsi:type="string">child_id</argument>
            <argument name="feedTableMutableColumns" xsi:type="array">
                <item name="feed_data" xsi:type="string">feed_data</item>
                <item name="is_deleted" xsi:type="string">is_deleted</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="Magento\ProductVariantDataExporter\Model\Indexer\ProductVariantDataSerializer" type="Magento\DataExporter\Model\Indexer\DataSerializer">
        <arguments>
            <argument name="mapping" xsi:type="array">
                <item name="id" xsi:type="string">id</item>
                <item name="parent_id" xsi:type="string">parent_id</item>
                <item name="product_id" xsi:type="string">product_id</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="Magento\ProductVariantDataExporter\Model\Indexer\ProductVariantIndexerCallbackInterface"
                 type="Magento\DataExporter\Model\Indexer\FeedIndexerCallbackInterface"/>

    <preference for="Magento\ProductVariantDataExporter\Model\Indexer\ProductVariantIndexerCallbackInterface"
                type="Magento\DataExporter\Model\Indexer\EmptyIndexerCallback"/>

    <type name="Magento\ProductVariantDataExporter\Model\Indexer\ProductVariantFeedIndexer">
        <arguments>
            <argument name="feedIndexMetadata" xsi:type="object">Magento\ProductVariantDataExporter\Model\Indexer\ProductVariantFeedIndexMetadata</argument>
            <argument name="serializer" xsi:type="object">Magento\ProductVariantDataExporter\Model\Indexer\ProductVariantDataSerializer</argument>
            <argument name="feedIndexerCallback" xsi:type="object">Magento\ProductVariantDataExporter\Model\Indexer\ProductVariantIndexerCallbackInterface</argument>
        </arguments>
    </type>

    <type name="Magento\ProductVariantDataExporter\Model\ProductVariantFeed">
        <arguments>
            <argument name="feedIndexMetadata" xsi:type="object">Magento\ProductVariantDataExporter\Model\Indexer\ProductVariantFeedIndexMetadata</argument>
        </arguments>
    </type>

    <type name="Magento\DataExporter\Model\FeedPool">
        <arguments>
            <argument name="classMap" xsi:type="array">
                <item name="variants" xsi:type="string">Magento\ProductVariantDataExporter\Model\ProductVariantFeed</item>
            </argument>
        </arguments>
    </type>
</config>
