<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Indexer & metadata declaration -->
    <!-- Products feed -->
    <virtualType name="Magento\ProductOverrideDataExporter\Model\Indexer\ProductOverridesFeedIndexMetadata" type="Magento\DataExporter\Model\Indexer\FeedIndexMetadata">
        <arguments>
            <argument name="feedName" xsi:type="string">productOverrides</argument>
            <argument name="feedIdentity" xsi:type="string">productId</argument>
            <argument name="sourceTableName" xsi:type="string">catalog_product_entity</argument>
            <argument name="sourceTableField" xsi:type="string">entity_id</argument>
            <argument name="feedTableName" xsi:type="string">catalog_data_exporter_product_overrides</argument>
            <argument name="feedTableField" xsi:type="string">id</argument>
            <argument name="feedTableMutableColumns" xsi:type="array">
                <item name="feed_data" xsi:type="string">feed_data</item>
                <item name="is_deleted" xsi:type="string">is_deleted</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\ProductOverrideDataExporter\Model\Indexer\ProductOverridesDataSerializer" type="Magento\DataExporter\Model\Indexer\DataSerializer">
        <arguments>
            <argument name="mapping" xsi:type="array">
                <item name="id" xsi:type="string">productId</item>
                <item name="website_code" xsi:type="string">websiteCode</item>
                <item name="customer_group_code" xsi:type="string">customerGroupCode</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\ProductOverrideDataExporter\Model\Indexer\ProductOverrideFeedIndexer"  type="Magento\DataExporter\Model\Indexer\FeedIndexer">
        <arguments>
            <argument name="feedIndexMetadata" xsi:type="object">Magento\ProductOverrideDataExporter\Model\Indexer\ProductOverridesFeedIndexMetadata</argument>
            <argument name="serializer" xsi:type="object">Magento\ProductOverrideDataExporter\Model\Indexer\ProductOverridesDataSerializer</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\ProductOverrideDataExporter\Model\ProductOverridesFeed" type="Magento\DataExporter\Model\Feed">
        <arguments>
            <argument name="feedIndexMetadata" xsi:type="object">Magento\ProductOverrideDataExporter\Model\Indexer\ProductOverridesFeedIndexMetadata</argument>
        </arguments>
    </virtualType>
    <type name="Magento\DataExporter\Model\FeedPool">
        <arguments>
            <argument name="classMap" xsi:type="array">
                <item name="productOverrides" xsi:type="string">Magento\ProductOverrideDataExporter\Model\ProductOverridesFeed</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\ProductOverrideDataExporter\Model\Provider\ProductOverrides">
        <arguments>
            <argument name="overrideProviders" xsi:type="array">
                <item name="productPriceOverrides" xsi:type="string">Magento\ProductOverrideDataExporter\Model\Provider\Override\PriceOverrides</item>
            </argument>
        </arguments>
    </type>
</config>
