<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\CatalogDataExporter\Model\Provider\Product\ProductOptions">
        <arguments>
            <argument name="optionProviderFactories" xsi:type="array">
                <item name="configurableOptionsFactory" xsi:type="object">Magento\ConfigurableProductDataExporter\Model\Provider\Product\OptionsFactory</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\ConfigurableProductDataExporter\Model\Provider\Product\Options">
        <arguments>
            <argument name="batchSize" xsi:type="number">1000</argument>
        </arguments>
    </type>
    <virtualType name="Magento\ConfigurableProductDataExporter\Model\Indexer\AffectedIdsResolver" type="Magento\DataExporter\Model\Indexer\AffectedIdsResolver">
        <arguments>
            <argument name="idPlaceholder" xsi:type="string">entityIds</argument>
            <argument name="queryNames" xsi:type="array">
                <item name="configurableProductsByChildren" xsi:type="string">configurableProductsByChildren</item>
                <item name="simpleProductsByConfigurableParents" xsi:type="string">simpleProductsByConfigurableParents</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\DataExporter\Model\Indexer\AffectedIdsResolverPool">
        <arguments>
            <argument name="resolvers" xsi:type="array">
                <item name="variants" xsi:type="array">
                    <item name="configurable" xsi:type="string">
                        Magento\ConfigurableProductDataExporter\Model\Indexer\AffectedIdsResolver
                    </item>
                </item>
            </argument>
        </arguments>
    </type>
</config>
