/**
 * ADOBE CONFIDENTIAL
 * ___________________
 *
 * Copyright 2025 Adobe
 * All Rights Reserved.
 *
 * NOTICE: All information contained herein is, and remains
 * the property of Adobe and its suppliers, if any. The intellectual
 * and technical concepts contained herein are proprietary to Adobe
 * and its suppliers and are protected by all applicable intellectual
 * property laws, including trade secret and copyright laws.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Adobe.
 */

.export-status-success {
    background: #d0e5a9 none repeat scroll 0 0;
    border: 1px solid #5b8116;
    color: #185b00;
    display: block;
    font-weight: bold;
    line-height: 17px;
    padding: 0 3px;
    text-align: center;
    text-transform: uppercase;
}

.export-status-failed {
    background: #f9d4d4 none repeat scroll 0 0;
    border: 1px solid #e22626;
    color: #e22626;
    display: block;
    font-weight: bold;
    line-height: 17px;
    padding: 0 3px;
    text-align: center;
    text-transform: uppercase;
}

.ext-el-mask-msg1 {
    border: 1px solid #aaa;
}

.feed-status-form {
    display: inline;
}

.feed-status-form select {
    margin-left: 10px;
}

.feed-status-item {
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}

.feed-status-item .title {
    font-weight: bold;
    margin-right: 10px;
}

.feed-status-item .ok-status {
    color: #00732d;
}

.feed-status-item .warning-status {
    color: #ffb000;
}

.feed-status-item .error-status {
    color: #fa1103;
}

/* feed listing */
.feed-status-item  ul{
    margin-top: 1rem;
    margin-left: 2.5rem;
    font-size: 1.5rem;
}

/* section */
.feed-section-wrapper {
    margin-bottom: 2em;
}