<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\CatalogDataExporter\Model\Provider\Product\Formatter\FormatterInterface" type="Magento\CatalogDataExporter\Model\Provider\Product\Formatter\Formatter" />
    <preference for="Magento\CatalogDataExporter\Model\Provider\Category\Formatter\FormatterInterface" type="Magento\CatalogDataExporter\Model\Provider\Category\Formatter\Formatter" />
    <preference for="Magento\CatalogDataExporter\Model\Query\Eav\EavAttributeQueryBuilderInterface" type="Magento\CatalogDataExporter\Model\Query\Eav\EavAttributeQueryBuilder" />
    <preference for="Magento\CatalogDataExporter\Model\Provider\Product\MediaGallery\MediaGalleryFormatterInterface" type="Magento\CatalogDataExporter\Model\Provider\Product\MediaGallery\DefaultFormatter" />

    <type name="Magento\CatalogDataExporter\Model\Provider\Product\Formatter\Formatter">
        <arguments>
            <argument name="formatters" xsi:type="array">
                <!-- TODO: remove deprecated images formatter -->
                <item name="images" xsi:type="object">Magento\CatalogDataExporter\Model\Provider\Product\Formatter\ImageFormatter</item>
                <item name="systemEnums" xsi:type="object">Magento\CatalogDataExporter\Model\Provider\Product\Formatter\SystemEnumFormatter</item>
                <item name="taxClass" xsi:type="object">Magento\CatalogDataExporter\Model\Provider\Product\Formatter\TaxClassFormatter</item>
                <item name="scopes" xsi:type="object">Magento\CatalogDataExporter\Model\Provider\Product\Formatter\ScopeFormatter</item>
                <item name="description" xsi:type="object">Magento\CatalogDataExporter\Model\Provider\Product\Formatter\DescriptionFormatter</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\CatalogDataExporter\Model\Provider\Product\ProductOptions">
        <arguments>
            <argument name="optionProviderFactories" xsi:type="array">
                <item name="customOptionsFactory" xsi:type="object">Magento\CatalogDataExporter\Model\Provider\Product\ProductOptions\SelectableOptionsFactory</item>
                <item name="downloadableLinksFactory" xsi:type="object">Magento\CatalogDataExporter\Model\Provider\Product\ProductOptions\DownloadableLinksFactory</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="Magento\CatalogDataExporter\Model\Provider\Product\MediaGallery\Images"
                 type="Magento\CatalogDataExporter\Model\Provider\Product\MediaGallery">
        <arguments>
            <argument name="mediaType" xsi:type="string">image</argument>
            <argument name="mediaGalleryFormatter" xsi:type="object">Magento\CatalogDataExporter\Model\Provider\Product\MediaGallery\ImageFormatter</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\CatalogDataExporter\Model\Provider\Product\MediaGallery\Videos"
                 type="Magento\CatalogDataExporter\Model\Provider\Product\MediaGallery">
        <arguments>
            <argument name="mediaType" xsi:type="string">external-video</argument>
            <argument name="mediaGalleryFormatter" xsi:type="object">Magento\CatalogDataExporter\Model\Provider\Product\MediaGallery\VideoFormatter</argument>
        </arguments>
    </virtualType>

    <type name="Magento\CatalogDataExporter\Model\Provider\Product\ProductShopperInputOptions">
        <arguments>
            <argument name="providerFactories" xsi:type="array">
                <item name="customizableShopperInputOptionsFactory" xsi:type="object">Magento\CatalogDataExporter\Model\Provider\Product\CustomizableOptions\ProductShopperInputOptionsFactory</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\CatalogDataExporter\Model\Provider\Product\Formatter\SystemEnumFormatter">
        <arguments>
            <argument name="systemEnums" xsi:type="array">
                <item name="visibility" xsi:type="array">
                    <item name="1" xsi:type="string">Not Visible Individually</item>
                    <item name="2" xsi:type="string">Catalog</item>
                    <item name="3" xsi:type="string">Search</item>
                    <item name="4" xsi:type="string">Catalog, Search</item>
                </item>
                <item name="status" xsi:type="array">
                    <item name="1" xsi:type="string">Enabled</item>
                    <item name="2" xsi:type="string">Disabled</item>
                </item>
                <item name="priceView" xsi:type="array">
                    <item name="0" xsi:type="string">price_range</item>
                    <item name="1" xsi:type="string">as_low_as</item>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\CatalogDataExporter\Model\Query\ProductMainQuery">
        <arguments>
            <argument name="mainTable" xsi:type="string">catalog_product_entity</argument>
        </arguments>
    </type>
    <virtualType name="ProductEavAttributesProvider" type="Magento\CatalogDataExporter\Model\Provider\EavAttributes\EavAttributesProvider">
        <arguments>
            <argument name="queryBuilder" xsi:type="object">Magento\CatalogDataExporter\Model\Query\Eav\ProductAttributeQueryBuilder</argument>
            <argument name="includeAttributes" xsi:type="array">
                <item name="description" xsi:type="string">description</item>
                <item name="image" xsi:type="string">image</item>
                <item name="image_label" xsi:type="string">image_label</item>
                <item name="links_purchased_separately" xsi:type="string">links_purchased_separately</item>
                <item name="links_title" xsi:type="string">links_title</item>
                <item name="meta_description" xsi:type="string">meta_description</item>
                <item name="meta_keyword" xsi:type="string">meta_keyword</item>
                <item name="meta_title" xsi:type="string">meta_title</item>
                <item name="name" xsi:type="string">name</item>
                <item name="news_from_date" xsi:type="string">news_from_date</item>
                <item name="news_to_date" xsi:type="string">news_to_date</item>
                <item name="short_description" xsi:type="string">short_description</item>
                <item name="small_image" xsi:type="string">small_image</item>
                <item name="small_image_label" xsi:type="string">small_image_label</item>
                <item name="status" xsi:type="string">status</item>
                <item name="swatch_image" xsi:type="string">swatch_image</item>
                <item name="swatch_image_label" xsi:type="string">swatch_image_label</item>
                <item name="tax_class_id" xsi:type="string">tax_class_id</item>
                <item name="thumbnail" xsi:type="string">thumbnail</item>
                <item name="thumbnail_label" xsi:type="string">thumbnail_label</item>
                <item name="url_key" xsi:type="string">url_key</item>
                <item name="visibility" xsi:type="string">visibility</item>
                <item name="weight" xsi:type="string">weight</item>
                <item name="weight_type" xsi:type="string">weight_type</item>
                <item name="price_view" xsi:type="string">price_view</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="Magento\CatalogDataExporter\Model\Provider\EavAttributes\ProductEavAttributesResolver"
                 type="Magento\CatalogDataExporter\Model\Provider\EavAttributes\EntityEavAttributesResolver">
        <arguments>
            <argument name="eavAttributesProvider" xsi:type="object">ProductEavAttributesProvider</argument>
            <argument name="requiredAttributes" xsi:type="array">
                <item name="status" xsi:type="string">status</item>
                <item name="visibility" xsi:type="string">visibility</item>
                <item name="links_title" xsi:type="string">links_title</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Magento\CatalogDataExporter\Model\Provider\Products">
        <arguments>
            <argument name="entityEavAttributesResolver" xsi:type="object">
                Magento\CatalogDataExporter\Model\Provider\EavAttributes\ProductEavAttributesResolver
            </argument>
        </arguments>
    </type>

    <type name="Magento\CatalogDataExporter\Model\Provider\Category\Formatter\Formatter">
        <arguments>
            <argument name="formatters" xsi:type="array">
                <item name="output" xsi:type="object">Magento\CatalogDataExporter\Model\Provider\Category\Formatter\Output</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\CatalogDataExporter\Model\Provider\Category\Formatter\Output">
        <arguments>
            <argument name="attributes" xsi:type="array">
                <item name="description" xsi:type="string">description</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\CatalogDataExporter\Model\Query\CategoryMainQuery">
        <arguments>
            <argument name="mainTable" xsi:type="string">catalog_category_entity</argument>
        </arguments>
    </type>
    <virtualType name="CategoryEavAttributesProvider" type="Magento\CatalogDataExporter\Model\Provider\EavAttributes\EavAttributesProvider">
        <arguments>
            <argument name="queryBuilder" xsi:type="object">Magento\CatalogDataExporter\Model\Query\Eav\CategoryAttributeQueryBuilder</argument>
            <argument name="includeAttributes" xsi:type="array">
                <item name="is_active" xsi:type="string">is_active</item>
                <item name="is_anchor" xsi:type="string">is_anchor</item>
                <item name="display_mode" xsi:type="string">display_mode</item>
                <item name="meta_title" xsi:type="string">meta_title</item>
                <item name="meta_keywords" xsi:type="string">meta_keywords</item>
                <item name="meta_description" xsi:type="string">meta_description</item>
                <item name="name" xsi:type="string">name</item>
                <item name="description" xsi:type="string">description</item>
                <item name="url_key" xsi:type="string">url_key</item>
                <item name="children_count" xsi:type="string">children_count</item>
                <item name="url_path" xsi:type="string">url_path</item>
                <item name="default_sort_by" xsi:type="string">default_sort_by</item>
                <item name="available_sort_by" xsi:type="string">available_sort_by</item>
                <item name="image" xsi:type="string">image</item>
                <item name="include_in_menu" xsi:type="string">include_in_menu</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="Magento\CatalogDataExporter\Model\Provider\EavAttributes\CategoryEavAttributesResolver"
                 type="Magento\CatalogDataExporter\Model\Provider\EavAttributes\EntityEavAttributesResolver">
        <arguments>
            <argument name="eavAttributesProvider" xsi:type="object">CategoryEavAttributesProvider</argument>
            <argument name="requiredAttributes" xsi:type="array">
                <item name="image" xsi:type="string">image</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Magento\CatalogDataExporter\Model\Provider\Categories">
        <arguments>
            <argument name="entityEavAttributesResolver" xsi:type="object">
                Magento\CatalogDataExporter\Model\Provider\EavAttributes\CategoryEavAttributesResolver
            </argument>
        </arguments>
    </type>

    <type name="Magento\CatalogDataExporter\Model\Provider\Product\Options">
        <arguments>
            <argument name="optionProviders" xsi:type="array">
                <item name="options" xsi:type="object">
                    Magento\CatalogDataExporter\Model\Provider\Product\CustomizableOptions\SelectableOptions
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\CatalogDataExporter\Model\Provider\Product\CustomizableOptions\EnteredOptions">
        <arguments>
            <argument name="optionTypes" xsi:type="array">
                <item name="field" xsi:type="string">field</item>
                <item name="area" xsi:type="string">area</item>
                <item name="file" xsi:type="string">file</item>
                <item name="date" xsi:type="string">date</item>
                <item name="time" xsi:type="string">time</item>
                <item name="date_time" xsi:type="string">date_time</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\CatalogDataExporter\Model\Provider\Product\CustomizableOptions\ProductShopperInputOptions">
        <arguments>
            <argument name="optionTypes" xsi:type="array">
                <item name="field" xsi:type="string">field</item>
                <item name="area" xsi:type="string">area</item>
                <item name="file" xsi:type="string">file</item>
                <item name="date" xsi:type="string">date</item>
                <item name="time" xsi:type="string">time</item>
                <item name="date_time" xsi:type="string">date_time</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\CatalogDataExporter\Model\Provider\Product\CustomizableOptions\SelectableOptions">
        <arguments>
            <argument name="optionTypes" xsi:type="array">
                <item name="drop_down" xsi:type="string">drop_down</item>
                <item name="radio" xsi:type="string">radio</item>
                <item name="checkbox" xsi:type="string">checkbox</item>
                <item name="multiple" xsi:type="string">multiple</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Model\Category">
        <plugin name="reindex_category_feed_on_save" type="Magento\CatalogDataExporter\Plugin\Category\ReindexCategoryFeedOnSave"/>
    </type>
    <!-- Indexer & metadata declaration -->
    <!-- Products feed -->
    <virtualType name="Magento\CatalogDataExporter\Model\Indexer\ProductFeedIndexMetadata" type="Magento\DataExporter\Model\Indexer\FeedIndexMetadata">
        <arguments>
            <argument name="feedName" xsi:type="string">products</argument>
            <argument name="feedIdentity" xsi:type="string">productId</argument>
            <argument name="sourceTableName" xsi:type="string">catalog_product_entity</argument>
            <argument name="sourceTableField" xsi:type="string">entity_id</argument>
            <argument name="scopeTableName" xsi:type="string">catalog_product_website</argument>
            <argument name="scopeTableField" xsi:type="string">product_id</argument>
            <argument name="scopeCode" xsi:type="string">website_id</argument>
            <argument name="feedTableName" xsi:type="string">catalog_data_exporter_products</argument>
            <argument name="feedTableField" xsi:type="string">id</argument>
            <argument name="feedTableMutableColumns" xsi:type="array">
                <item name="feed_data" xsi:type="string">feed_data</item>
                <item name="is_deleted" xsi:type="string">is_deleted</item>
                <item name="sku" xsi:type="string">sku</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\CatalogDataExporter\Model\Indexer\ProductDataSerializer" type="Magento\DataExporter\Model\Indexer\DataSerializer">
        <arguments>
            <argument name="mapping" xsi:type="array">
                <item name="sku" xsi:type="string">sku</item>
                <item name="id" xsi:type="string">productId</item>
                <item name="store_view_code" xsi:type="string">storeViewCode</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="Magento\CatalogExport\Model\Indexer\ProductIndexerCallback"
                 type="Magento\CatalogExport\Model\Indexer\EntityIndexerCallback">
        <arguments>
            <argument name="feedIndexMetadata" xsi:type="object">Magento\CatalogDataExporter\Model\Indexer\ProductFeedIndexMetadata</argument>
            <argument name="topicName" xsi:type="string">catalog.export.product.data</argument>
            <argument name="updatedEventType" xsi:type="string">products_updated</argument>
            <argument name="deletedEventType" xsi:type="string">products_deleted</argument>
        </arguments>
    </virtualType>

    <virtualType name="Magento\CatalogDataExporter\Model\Indexer\ProductFeedIndexer" type="Magento\DataExporter\Model\Indexer\LegacyFeedIndexer">
        <arguments>
            <argument name="feedIndexMetadata" xsi:type="object">Magento\CatalogDataExporter\Model\Indexer\ProductFeedIndexMetadata</argument>
            <argument name="serializer" xsi:type="object">Magento\CatalogDataExporter\Model\Indexer\ProductDataSerializer</argument>
            <argument name="feedIndexerCallback" xsi:type="object">Magento\CatalogExport\Model\Indexer\ProductIndexerCallback</argument>
            <argument name="callbackSkipAttributes" xsi:type="array">
                <item name="store_view_code" xsi:type="string">storeViewCode</item>
                <item name="store_code" xsi:type="string">storeCode</item>
                <item name="website_code" xsi:type="string">websiteCode</item>
                <item name="product_id" xsi:type="string">productId</item>
                <item name="type" xsi:type="string">type</item>
                <item name="created_at" xsi:type="string">createdAt</item>
                <item name="updated_at" xsi:type="string">updatedAt</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\CatalogDataExporter\Model\ProductFeed" type="Magento\DataExporter\Model\Feed">
        <arguments>
            <argument name="feedIndexMetadata" xsi:type="object">Magento\CatalogDataExporter\Model\Indexer\ProductFeedIndexMetadata</argument>
        </arguments>
    </virtualType>

    <!-- Attributes feed -->
    <virtualType name="Magento\CatalogDataExporter\Model\Indexer\ProductAttributeFeedIndexMetadata" type="Magento\DataExporter\Model\Indexer\FeedIndexMetadata">
        <arguments>
            <argument name="feedName" xsi:type="string">productAttributes</argument>
            <argument name="feedIdentity" xsi:type="string">id</argument>
            <argument name="sourceTableName" xsi:type="string">eav_attribute</argument>
            <argument name="sourceTableField" xsi:type="string">attribute_id</argument>
            <argument name="feedTableName" xsi:type="string">catalog_data_exporter_product_attributes</argument>
            <argument name="feedTableField" xsi:type="string">id</argument>
            <argument name="feedTableMutableColumns" xsi:type="array">
                <item name="feed_data" xsi:type="string">feed_data</item>
                <item name="is_deleted" xsi:type="string">is_deleted</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\CatalogDataExporter\Model\Indexer\ProductAttributeDataSerializer" type="Magento\DataExporter\Model\Indexer\DataSerializer">
        <arguments>
            <argument name="mapping" xsi:type="array">
                <item name="id" xsi:type="string">id</item>
                <item name="store_view_code" xsi:type="string">storeViewCode</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\CatalogDataExporter\Model\Indexer\ProductAttributeFeedIndex" type="Magento\DataExporter\Model\Indexer\FeedIndexer">
        <arguments>
            <argument name="feedIndexMetadata" xsi:type="object">Magento\CatalogDataExporter\Model\Indexer\ProductAttributeFeedIndexMetadata</argument>
            <argument name="serializer" xsi:type="object">Magento\CatalogDataExporter\Model\Indexer\ProductAttributeDataSerializer</argument>
        </arguments>
    </virtualType>

    <virtualType name="Magento\CatalogDataExporter\Model\Provider\Product\Formatter\BooleanMetadataFormatter"
                 type="Magento\CatalogDataExporter\Model\Provider\Product\Formatter\BooleanNumericMetadataFormatter">
        <arguments>
            <argument name="type" xsi:type="string">boolean</argument>
            <argument name="attributeCodes" xsi:type="array">
                <item name="is_redeemable" xsi:type="string">is_redeemable</item>
                <item name="use_config_is_redeemable" xsi:type="string">use_config_is_redeemable</item>
                <item name="use_config_lifetime" xsi:type="string">use_config_lifetime</item>
                <item name="use_config_email_template" xsi:type="string">use_config_email_template</item>
                <item name="use_config_allow_message" xsi:type="string">use_config_allow_message</item>
                <item name="allow_message" xsi:type="string">allow_message</item>
                <item name="has_options" xsi:type="string">has_options</item>
            </argument>
            <argument name="backendTypes" xsi:type="array">
                <item name="int" xsi:type="string">int</item>
            </argument>
            <argument name="frontendInput" xsi:type="array">
                <item name="boolean" xsi:type="string">boolean</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="Magento\CatalogDataExporter\Model\Provider\Product\Formatter\NumericMetadataFormatter"
                 type="Magento\CatalogDataExporter\Model\Provider\Product\Formatter\BooleanNumericMetadataFormatter">
        <arguments>
            <argument name="type" xsi:type="string">numeric</argument>
            <argument name="attributeCodes" xsi:type="array">
                <item name="required_options" xsi:type="string">required_options</item>
            </argument>
            <argument name="frontendInput" xsi:type="array">
                <item name="price" xsi:type="string">price</item>
                <item name="weight" xsi:type="string">weight</item>
                <item name="text" xsi:type="string">text</item>
            </argument>
            <argument name="backendTypes" xsi:type="array">
                <item name="decimal" xsi:type="string">decimal</item>
                <item name="int" xsi:type="string">int</item>
            </argument>
            <argument name="validations" xsi:type="array">
                <item name="validate-number" xsi:type="string">validate-number</item>
                <item name="validate-digits" xsi:type="string">validate-digits</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="Magento\CatalogDataExporter\Model\Provider\Product\Formatter\MetadataFormatter"
                 type="Magento\CatalogDataExporter\Model\Provider\Product\Formatter\Formatter">
        <arguments>
            <argument name="formatters" xsi:type="array">
                <item name="scopes" xsi:type="object">Magento\CatalogDataExporter\Model\Provider\Product\Formatter\ScopeFormatter</item>
                <item name="boolean" xsi:type="object">Magento\CatalogDataExporter\Model\Provider\Product\Formatter\BooleanMetadataFormatter</item>
                <item name="numeric" xsi:type="object">Magento\CatalogDataExporter\Model\Provider\Product\Formatter\NumericMetadataFormatter</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Magento\CatalogDataExporter\Model\Provider\ProductMetadata">
        <arguments>
            <argument name="formatter" xsi:type="object">Magento\CatalogDataExporter\Model\Provider\Product\Formatter\MetadataFormatter</argument>
        </arguments>
    </type>
    <virtualType name="Magento\CatalogDataExporter\Model\ProductMetadataFeed" type="Magento\DataExporter\Model\Feed">
        <arguments>
            <argument name="feedIndexMetadata" xsi:type="object">Magento\CatalogDataExporter\Model\Indexer\ProductAttributeFeedIndexMetadata</argument>
        </arguments>
    </virtualType>
    <!-- Categories feed -->
    <virtualType name="Magento\CatalogDataExporter\Model\Indexer\CategoryFeedIndexMetadata" type="Magento\DataExporter\Model\Indexer\FeedIndexMetadata">
        <arguments>
            <argument name="feedName" xsi:type="string">categories</argument>
            <argument name="feedIdentity" xsi:type="string">categoryId</argument>
            <argument name="sourceTableName" xsi:type="string">catalog_category_entity</argument>
            <argument name="sourceTableField" xsi:type="string">entity_id</argument>
            <argument name="feedTableName" xsi:type="string">catalog_data_exporter_categories</argument>
            <argument name="feedTableField" xsi:type="string">id</argument>
            <argument name="feedTableMutableColumns" xsi:type="array">
                <item name="feed_data" xsi:type="string">feed_data</item>
                <item name="is_deleted" xsi:type="string">is_deleted</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\CatalogDataExporter\Model\Indexer\CategoryDataSerializer" type="Magento\DataExporter\Model\Indexer\DataSerializer">
        <arguments>
            <argument name="mapping" xsi:type="array">
                <item name="id" xsi:type="string">categoryId</item>
                <item name="store_view_code" xsi:type="string">storeViewCode</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="Magento\CatalogExport\Model\Indexer\CategoryIndexerCallback"
                 type="Magento\CatalogExport\Model\Indexer\EntityIndexerCallback">
        <arguments>
            <argument name="feedIndexMetadata" xsi:type="object">Magento\CatalogDataExporter\Model\Indexer\CategoryFeedIndexMetadata</argument>
            <argument name="topicName" xsi:type="string">catalog.export.category.data</argument>
            <argument name="updatedEventType" xsi:type="string">categories_updated</argument>
            <argument name="deletedEventType" xsi:type="string">categories_deleted</argument>
        </arguments>
    </virtualType>

    <virtualType name="Magento\CatalogDataExporter\Model\Indexer\CategoryFeedIndexer" type="Magento\DataExporter\Model\Indexer\FeedIndexer">
        <arguments>
            <argument name="feedIndexMetadata" xsi:type="object">Magento\CatalogDataExporter\Model\Indexer\CategoryFeedIndexMetadata</argument>
            <argument name="serializer" xsi:type="object">Magento\CatalogDataExporter\Model\Indexer\CategoryDataSerializer</argument>
            <argument name="feedIndexerCallback" xsi:type="object">Magento\CatalogExport\Model\Indexer\CategoryIndexerCallback</argument>
            <argument name="callbackSkipAttributes" xsi:type="array">
                <item name="store_view_code" xsi:type="string">storeViewCode</item>
                <item name="category_id" xsi:type="string">categoryId</item>
                <item name="created_at" xsi:type="string">createdAt</item>
                <item name="updated_at" xsi:type="string">updatedAt</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\CatalogDataExporter\Model\CategoryFeed" type="Magento\DataExporter\Model\Feed">
        <arguments>
            <argument name="feedIndexMetadata" xsi:type="object">Magento\CatalogDataExporter\Model\Indexer\CategoryFeedIndexMetadata</argument>
        </arguments>
    </virtualType>

    <type name="Magento\DataExporter\Model\FeedPool">
        <arguments>
            <argument name="classMap" xsi:type="array">
                <item name="products" xsi:type="string">Magento\CatalogDataExporter\Model\ProductFeed</item>
                <item name="productAttributes" xsi:type="string">Magento\CatalogDataExporter\Model\ProductMetadataFeed</item>
                <item name="categories" xsi:type="string">Magento\CatalogDataExporter\Model\CategoryFeed</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Magento\CatalogDataExporter\Model\Provider\Product\Downloadable\LinkSampleUrlProvider"
                 type="Magento\CatalogDataExporter\Model\Provider\Product\Downloadable\SampleUrlProvider">
        <arguments>
            <argument name="baseUrlPath" xsi:type="string">downloadable/download/linkSample</argument>
            <argument name="sampleIdentity" xsi:type="string">link_id</argument>
        </arguments>
    </virtualType>

    <type name="Magento\CatalogDataExporter\Model\Provider\Product\ProductOptions\DownloadableLinks">
        <arguments>
            <argument name="sampleUrlProvider" xsi:type="object">
                Magento\CatalogDataExporter\Model\Provider\Product\Downloadable\LinkSampleUrlProvider
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Setup\Declaration\Schema\Operations\AddColumn">
        <arguments>
            <argument name="triggers" xsi:type="array">
                <item name="migrateDataFromJSON" xsi:type="object">Magento\CatalogDataExporter\Plugin\DDLTrigger\MigrateDataFromJSON</item>
            </argument>
        </arguments>
    </type>
    <!-- Indexes mass-invalidation logic -->
    <type name="Magento\CatalogDataExporter\Model\Indexer\IndexInvalidationManager">
        <arguments>
            <argument name="invalidationEvents" xsi:type="array">
                <item name="store_changed" xsi:type="array">
                    <item name="products" xsi:type="string">catalog_data_exporter_products</item>
                    <item name="categories" xsi:type="string">catalog_data_exporter_categories</item>
                    <item name="product_attributes" xsi:type="string">catalog_data_exporter_product_attributes</item>
                </item>
                <item name="website_changed" xsi:type="array">
                    <item name="products" xsi:type="string">catalog_data_exporter_products</item>
                    <item name="categories" xsi:type="string">catalog_data_exporter_categories</item>
                    <item name="product_attributes" xsi:type="string">catalog_data_exporter_product_attributes</item>
                </item>
                <item name="group_changed" xsi:type="array">
                    <item name="products" xsi:type="string">catalog_data_exporter_products</item>
                    <item name="categories" xsi:type="string">catalog_data_exporter_categories</item>
                    <item name="product_attributes" xsi:type="string">catalog_data_exporter_product_attributes</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Store\Model\ResourceModel\Website">
        <plugin name="invalidate_feed_index_on_store_change" type="Magento\CatalogDataExporter\Plugin\Index\InvalidateOnWebsiteChange" />
    </type>
    <type name="Magento\Store\Model\ResourceModel\Group">
        <plugin name="invalidate_feed_index_on_group_change" type="Magento\CatalogDataExporter\Plugin\Index\InvalidateOnGroupChange" />
    </type>
    <type name="Magento\Store\Model\ResourceModel\Store">
        <plugin name="invalidate_feed_index_on_website_change" type="Magento\CatalogDataExporter\Plugin\Index\InvalidateOnStoreChange" />
    </type>
</config>
