<?xml version="1.0"?>
<!--
 /**
  * Copyright 2023 Adobe
  * All Rights Reserved.
  */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <commerce_data_export>
            <feeds>
                <prices>
                    <batch_size>500</batch_size>
                </prices>
            </feeds>
        </commerce_data_export>
        <ac_disabled_indexers>
            <!--
                The price data this module exports powers SaaS/ACO pricing, so the local catalog
                product price index can be replaced. It is managed by AdobeCommerce_IndexerStatusManager
                but ships enabled (0) by default; set to 1 (or run bin/magento indexer:disable) to turn
                it off.
            -->
            <catalog_product_price>0</catalog_product_price>
        </ac_disabled_indexers>
    </default>
</config>
