<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Magento\ProductPriceDataExporter\Model\Indexer\ProductPriceFeedIndexMetadata" type="Magento\DataExporter\Model\Indexer\FeedIndexMetadata">
        <arguments>
            <argument name="feedName" xsi:type="string">prices</argument>
<!--            TODO: rename?? it's not actually identity but source of IDs for feed-->
            <argument name="feedIdentity" xsi:type="string">productId</argument>
            <argument name="sourceTableName" xsi:type="string">catalog_product_entity</argument>
            <argument name="sourceTableField" xsi:type="string">entity_id</argument>
            <argument name="feedTableName" xsi:type="string">catalog_data_exporter_product_prices</argument>
            <argument name="feedTableField" xsi:type="string">product_id</argument>
            <argument name="feedOffsetLimit" xsi:type="number">500</argument>
            <argument name="batchSize" xsi:type="number">500</argument>
            <argument name="truncateFeedOnFullReindex" xsi:type="boolean">false</argument>
            <argument name="exportImmediately" xsi:type="boolean">true</argument>
            <argument name="persistExportedFeed" xsi:type="init_parameter">Magento\DataExporter\Model\ExportFeedInterface::PERSIST_EXPORTED_FEED</argument>

            <argument name="minimalPayload" xsi:type="array">
                <item name="sku" xsi:type="string">sku</item>
                <item name="customerGroupCode" xsi:type="string">customerGroupCode</item>
                <item name="websiteCode" xsi:type="string">websiteCode</item>
                <item name="updatedAt" xsi:type="string">updatedAt</item>
            </argument>

            <argument name="feedIdentifierMapping" xsi:type="array">
                <item name="product_id" xsi:type="string">productId</item>
                <item name="website_id" xsi:type="string">websiteId</item>
                <item name="customer_group_code" xsi:type="string">customerGroupCode</item>
            </argument>

        </arguments>
    </virtualType>
    <virtualType name="Magento\ProductPriceDataExporter\Model\Indexer\ProductPriceDataSerializer" type="Magento\DataExporter\Model\Indexer\DataSerializer">
        <arguments> <!-- TODO: move to metadata and remove it -->
            <argument name="mapping" xsi:type="array">
                <item name="product_id" xsi:type="string">productId</item>
                <item name="website_id" xsi:type="string">websiteId</item>
                <item name="customer_group_code" xsi:type="string">customerGroupCode</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="Magento\ProductPriceDataExporter\Model\Indexer\ProductPriceFeedIndexer" type="Magento\DataExporter\Model\Indexer\FeedIndexer">
        <arguments>
            <argument name="feedIndexMetadata" xsi:type="object">Magento\ProductPriceDataExporter\Model\Indexer\ProductPriceFeedIndexMetadata</argument>
            <argument name="serializer" xsi:type="object">Magento\ProductPriceDataExporter\Model\Indexer\ProductPriceDataSerializer</argument>
        </arguments>
    </virtualType>

    <virtualType name="Magento\ProductPriceDataExporter\Model\ProductPriceFeed" type="Magento\DataExporter\Model\Feed">
        <arguments>
            <argument name="feedIndexMetadata" xsi:type="object">Magento\ProductPriceDataExporter\Model\Indexer\ProductPriceFeedIndexMetadata</argument>
        </arguments>
    </virtualType>
    <type name="Magento\DataExporter\Model\FeedPool">
        <arguments>
            <argument name="classMap" xsi:type="array">
                <item name="prices" xsi:type="string">Magento\ProductPriceDataExporter\Model\ProductPriceFeed</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\DataExporter\Model\FeedMetadataPool">
        <arguments>
            <argument name="classMap" xsi:type="array">
<!--                TODO: unify name with feed name-->
                <item name="prices" xsi:type="object">Magento\ProductPriceDataExporter\Model\Indexer\ProductPriceFeedIndexMetadata</item>
            </argument>
        </arguments>
    </type>

</config>
