<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Magento\DataExporter\Config\SchemaLocator" type="Magento\Framework\Config\SchemaLocator">
        <arguments>
            <argument name="realPath" xsi:type="string">urn:magento:module:Magento_DataExporter:etc/et_schema.xsd</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\DataExporter\Config\Reader" type="Magento\Framework\Config\Reader\Filesystem">
        <arguments>
            <argument name="converter" xsi:type="object">Magento\DataExporter\Config\Converter</argument>
            <argument name="schemaLocator" xsi:type="object">Magento\DataExporter\Config\SchemaLocator</argument>
            <argument name="fileName" xsi:type="string">et_schema.xml</argument>
            <argument name="idAttributes" xsi:type="array">
                <item name="/config/record" xsi:type="string">name</item>
                <item name="/config/record/field" xsi:type="string">name</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\DataExporter\Config\Data" type="Magento\Framework\Config\Data">
        <arguments>
            <argument name="reader" xsi:type="object">Magento\DataExporter\Config\Reader</argument>
            <argument name="cacheId" xsi:type="string">Magento_Et_Config_CacheId</argument>
        </arguments>
    </virtualType>
    <type name="Magento\DataExporter\Config\Config">
        <arguments>
            <argument name="data" xsi:type="object">Magento\DataExporter\Config\Data</argument>
        </arguments>
    </type>
    <preference for="Magento\DataExporter\Config\ConfigInterface" type="Magento\DataExporter\Config\Config" />

    <preference for="Magento\DataExporter\Model\Indexer\FeedIndexerCallbackInterface"
                type="Magento\DataExporter\Model\Indexer\EmptyIndexerCallback" />
    <preference for="Magento\DataExporter\Model\Indexer\MarkRemovedEntitiesInterface"
                type="Magento\DataExporter\Model\Indexer\MarkRemovedEntities" />
</config>
