<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Indexer & metadata declaration -->
    <!-- Sales Orders Feed -->
    <virtualType name="Magento\SalesOrdersDataExporter\Model\Indexer\OrdersFeedIndexMetadata" type="Magento\DataExporter\Model\Indexer\FeedIndexMetadata">
        <arguments>
            <argument name="feedName" xsi:type="string">salesOrdersV2</argument>
            <argument name="feedIdentity" xsi:type="string">commerceOrderId</argument>
            <argument name="sourceTableName" xsi:type="string">sales_order</argument>
            <argument name="sourceTableField" xsi:type="string">entity_id</argument>
            <argument name="feedTableName" xsi:type="string">sales_data_exporter_orders_v2</argument>
            <argument name="feedTableField" xsi:type="string">id</argument>
            <argument name="feedTableMutableColumns" xsi:type="array">
                <item name="feed_data" xsi:type="string">feed_data</item>
            </argument>
            <argument name="fullReIndexSecondsLimit" xsi:type="number">604800</argument> <!-- 7 days -->
            <argument name="sourceTableFieldOnFullReIndexLimit" xsi:type="string">updated_at</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\SalesOrdersDataExporter\Model\Indexer\OrdersFeedIndexer" type="Magento\DataExporter\Model\Indexer\FeedIndexer">
        <arguments>
            <argument name="feedIndexMetadata" xsi:type="object">Magento\SalesOrdersDataExporter\Model\Indexer\OrdersFeedIndexMetadata</argument>
            <argument name="serializer" xsi:type="object">Magento\SalesOrdersDataExporter\Model\Indexer\OrdersDataSerializer</argument>
            <argument name="hasRemovableEntities" xsi:type="boolean">false</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\SalesOrdersDataExporter\Model\OrdersFeed" type="Magento\DataExporter\Model\Feed">
        <arguments>
            <argument name="feedIndexMetadata" xsi:type="object">Magento\SalesOrdersDataExporter\Model\Indexer\OrdersFeedIndexMetadata</argument>
            <argument name="hasRemovableEntities" xsi:type="boolean">false</argument>
            <argument name="dateTimeFormat" xsi:type="const">\DateTimeInterface::RFC3339</argument>
        </arguments>
    </virtualType>

    <!-- Providers -->
    <virtualType name="Magento\SalesOrdersDataExporter\Model\Provider\OrderItems" type="Magento\DataExporter\Model\Provider\QueryDataProvider">
        <arguments>
            <argument name="queryName" xsi:type="string">salesOrderItemsV2</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\SalesOrdersDataExporter\Model\Provider\ShippingAddress" type="Magento\DataExporter\Model\Provider\QueryDataProvider">
        <arguments>
            <argument name="queryName" xsi:type="string">salesAddressV2</argument>
            <argument name="queryArguments"  xsi:type="array">
                <item name="addressType" xsi:type="string">shipping</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\SalesOrdersDataExporter\Model\Provider\BillingAddress" type="Magento\DataExporter\Model\Provider\QueryDataProvider">
        <arguments>
            <argument name="queryName" xsi:type="string">salesAddressV2</argument>
            <argument name="queryArguments"  xsi:type="array">
                <item name="addressType" xsi:type="string">billing</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\SalesOrdersDataExporter\Model\Provider\Invoices" type="Magento\DataExporter\Model\Provider\QueryDataProvider">
        <arguments>
            <argument name="queryName" xsi:type="string">salesInvoicesV2</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\SalesOrdersDataExporter\Model\Provider\InvoiceItem" type="Magento\DataExporter\Model\Provider\QueryDataProvider">
        <arguments>
            <argument name="queryName" xsi:type="string">salesInvoiceItemV2</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\SalesOrdersDataExporter\Model\Provider\CreditMemos" type="Magento\DataExporter\Model\Provider\QueryDataProvider">
        <arguments>
            <argument name="queryName" xsi:type="string">salesCreditMemosV2</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\SalesOrdersDataExporter\Model\Provider\RefundTaxes" type="Magento\DataExporter\Model\Provider\QueryDataProvider">
        <arguments>
            <argument name="queryName" xsi:type="string">salesTaxV2</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\SalesOrdersDataExporter\Model\Provider\ProductTaxes" type="Magento\DataExporter\Model\Provider\QueryDataProvider">
        <arguments>
            <argument name="queryName" xsi:type="string">salesTaxItemV2</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\SalesOrdersDataExporter\Model\Provider\RefundItem" type="Magento\DataExporter\Model\Provider\QueryDataProvider">
        <arguments>
            <argument name="queryName" xsi:type="string">salesRefundItemV2</argument>
        </arguments>
    </virtualType>
    <!-- uuid-->
    <virtualType name="Magento\SalesOrdersDataExporter\Model\Provider\Uuid\CreditMemoItem" type="Magento\SalesOrdersDataExporter\Model\Provider\Uuid">
        <arguments>
            <argument name="uuidType" xsi:type="string">order_item</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\SalesOrdersDataExporter\Model\Provider\Uuid\CreditMemo" type="Magento\SalesOrdersDataExporter\Model\Provider\Uuid">
        <arguments>
            <argument name="uuidType" xsi:type="string">credit_memo</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\SalesOrdersDataExporter\Model\Provider\Uuid\ShipmentItem" type="Magento\SalesOrdersDataExporter\Model\Provider\Uuid">
        <arguments>
            <argument name="uuidType" xsi:type="string">order_item</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\SalesOrdersDataExporter\Model\Provider\Uuid\Shipment" type="Magento\SalesOrdersDataExporter\Model\Provider\Uuid">
        <arguments>
            <argument name="uuidType" xsi:type="string">order_shipment</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\SalesOrdersDataExporter\Model\Provider\Uuid\OrderItem" type="Magento\SalesOrdersDataExporter\Model\Provider\Uuid">
        <arguments>
            <argument name="uuidType" xsi:type="string">order_item</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\SalesOrdersDataExporter\Model\Provider\Uuid\Order" type="Magento\SalesOrdersDataExporter\Model\Provider\Uuid">
        <arguments>
            <argument name="uuidType" xsi:type="string">order</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\SalesOrdersDataExporter\Model\Provider\Transactions" type="Magento\DataExporter\Model\Provider\QueryDataProvider">
        <arguments>
            <argument name="queryName" xsi:type="string">salesTransactionsV2</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\SalesOrdersDataExporter\Model\Provider\Shipment" type="Magento\DataExporter\Model\Provider\QueryDataProvider">
        <arguments>
            <argument name="queryName" xsi:type="string">salesShipmentV2</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\SalesOrdersDataExporter\Model\Provider\TrackingInfo" type="Magento\DataExporter\Model\Provider\QueryDataProvider">
        <arguments>
            <argument name="queryName" xsi:type="string">salesTrackingInfoV2</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\SalesOrdersDataExporter\Model\Provider\ShipmentItem" type="Magento\DataExporter\Model\Provider\QueryDataProvider">
        <arguments>
            <argument name="queryName" xsi:type="string">salesShipmentItemV2</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\SalesOrdersDataExporter\Model\Indexer\OrdersDataSerializer" type="Magento\DataExporter\Model\Indexer\DataSerializer">
        <arguments>
            <argument name="mapping" xsi:type="array">
                <item name="id" xsi:type="string">commerceOrderId</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\SalesOrdersDataExporter\Model\Provider\OrderItemCustomAttribute" type="Magento\SalesOrdersDataExporter\Model\Provider\CustomAttribute">
        <arguments>
            <argument name="usingField" xsi:type="string">entityId</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\SalesOrdersDataExporter\Model\Provider\OrderCustomAttribute" type="Magento\SalesOrdersDataExporter\Model\Provider\CustomAttribute">
        <arguments>
            <argument name="usingField" xsi:type="string">commerceOrderId</argument>
        </arguments>
    </virtualType>
    <type name="Magento\SalesOrdersDataExporter\Model\Provider\Payment">
        <arguments>
            <argument name="mapping" xsi:type="array">
                <item name="paymentMethodName" xsi:type="string">additionalInformation.method_title</item>
            </argument>
            <argument name="unserializeKeys" xsi:type="array">
                <item name="additionalInformation" xsi:type="string">additionalInformation</item>
            </argument>
        </arguments>
    </type>

    <!-- Data feeds registration -->
    <type name="Magento\DataExporter\Model\FeedPool">
        <arguments>
            <argument name="classMap" xsi:type="array">
                <item name="salesOrders" xsi:type="string">Magento\SalesOrdersDataExporter\Model\OrdersFeed</item>
                <item name="onDemandSalesOrdersV2" xsi:type="string">Magento\SalesOrdersDataExporter\Model\OrdersOnDemandExportFeed</item>
            </argument>
        </arguments>
    </type>

    <!-- Assign UUID to sales order, order items, shipments, credit memos and refunds entities    -->
    <type name="Magento\Sales\Model\ResourceModel\Order">
        <plugin name="AssignUuidForOrder" type="Magento\SalesOrdersDataExporter\Plugin\AssignUuidForOrder"/>
    </type>
    <type name="Magento\Sales\Model\ResourceModel\Order\Creditmemo">
        <plugin name="AssignUuidForCreditMemo" type="Magento\SalesOrdersDataExporter\Plugin\AssignUuidForCreditMemo"/>
    </type>
    <type name="Magento\Sales\Model\ResourceModel\Order\Shipment">
        <plugin name="AssignUuidForShipment" type="Magento\SalesOrdersDataExporter\Plugin\AssignUuidForShipment"/>
    </type>

    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="link" xsi:type="object">Magento\SalesOrdersDataExporter\Console\Command\Link</item>
            </argument>
        </arguments>
    </type>

</config>
