<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_save_commit_after">
        <observer name="reindex_sales_order_feed_on_order_save_v2" instance="Magento\SalesOrdersDataExporter\Observer\ReindexOrderFeed" />
    </event>
    <!--  Void process does not trigger order save that is why we need to have separate observer on payment void operation  -->
    <event name="sales_order_payment_void">
        <observer name="reindex_sales_order_feed_on_payment_void_v2" instance="Magento\SalesOrdersDataExporter\Observer\ReindexOrderFeedOnVoid" />
    </event>
</config>
