<?xml version="1.0"?>
<!--
  ~ ADOBE CONFIDENTIAL
  ~ ___________________
  ~
  ~ Copyright 2025 Adobe
  ~ All Rights Reserved.
  ~
  ~ NOTICE: All information contained herein is, and remains
  ~ the property of Adobe and its suppliers, if any. The intellectual
  ~ and technical concepts contained herein are proprietary to Adobe
  ~ and its suppliers and are protected by all applicable intellectual
  ~ property laws, including trade secret and copyright laws.
  ~ Dissemination of this information or reproduction of this material
  ~ is strictly forbidden unless prior written permission is obtained
  ~ from Adobe.
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="data_exporter_feed_details_component_data_source" xsi:type="string">
                    Magento\DataExporterStatus\Ui\DataProvider\Listing\Collection
                </item>
            </argument>
        </arguments>
    </type>
    <type name="\Magento\DataExporterStatus\Service\FeedIndexStatus">
        <arguments>
            <argument name="feedStatusConfig" xsi:type="array">
                <item name="products" xsi:type="array">
                    <item name="entityRoute" xsi:type="array">
                        <item name="route" xsi:type="string">catalog/product/edit</item>
                        <item name="entity_id" xsi:type="string">id</item>
                    </item>
                    <item name="query" xsi:type="object">Magento\DataExporterStatus\Model\Query\ProductExportStatusQuery</item>
                </item>
                <item name="productAttributes" xsi:type="array">
                    <item name="entityRoute" xsi:type="array">
                        <item name="route" xsi:type="string">catalog/product_attribute/edit</item>
                        <item name="entity_id" xsi:type="string">attribute_id</item>
                    </item>
                    <item name="query" xsi:type="object">Magento\DataExporterStatus\Model\Query\ProductAttributeExportStatusQuery</item>
                </item>
                <item name="variants" xsi:type="array">
                    <item name="entityRoute" xsi:type="array">
                        <item name="route" xsi:type="string">catalog/product/edit</item>
                        <item name="entity_id" xsi:type="string">id</item>
                    </item>
                    <item name="query" xsi:type="object">Magento\DataExporterStatus\Model\Query\ProductVariantExportStatusQuery</item>
                </item>
                <item name="prices" xsi:type="array">
                    <item name="entityRoute" xsi:type="array">
                        <item name="route" xsi:type="string">catalog/product/edit</item>
                        <item name="entity_id" xsi:type="string">id</item>
                    </item>
                    <item name="query" xsi:type="object">Magento\DataExporterStatus\Model\Query\PricesExportStatusQuery</item>
                </item>
                <item name="categories" xsi:type="array">
                    <item name="entityRoute" xsi:type="array">
                        <item name="route" xsi:type="string">catalog/category/edit</item>
                        <item name="entity_id" xsi:type="string">id</item>
                    </item>
                    <item name="query" xsi:type="object">Magento\DataExporterStatus\Model\Query\CategoryExportStatusQuery</item>
                </item>
                <item name="productOverrides" xsi:type="array">
                    <item name="entityRoute" xsi:type="array">
                        <item name="route" xsi:type="string">catalog/product/edit</item>
                        <item name="entity_id" xsi:type="string">id</item>
                    </item>
                    <item name="query" xsi:type="object">Magento\DataExporterStatus\Model\Query\ProductOverrideExportStatusQuery</item>
                </item>
            </argument>
        </arguments>
    </type>
</config>
