<?xml version="1.0"?>
<!--
/**
 * Copyright 2026 Adobe
 * All Rights Reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="AdobeCommerce_CatalogProductNumericAttribute">
        <sequence>
            <module name="Magento_Backend"/>
            <module name="Magento_Catalog"/>
            <module name="Magento_Eav"/>
            <module name="Magento_CatalogGraphQl"/>
            <module name="Magento_CatalogDataExporter"/>
            <module name="Magento_Ui"/>
        </sequence>
    </module>
</config>
