<?xml version="1.0"?>
<!--
/**
 * Copyright 2026 Adobe
 * All Rights Reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Map frontend_input "numeric" to the standard HTML input form element in admin -->
    <type name="Magento\Ui\DataProvider\Mapper\FormElement">
        <arguments>
            <argument name="mappings" xsi:type="array">
                <item name="numeric" xsi:type="string">input</item>
            </argument>
        </arguments>
    </type>
    <!-- Add "Number" to the EAV input type dropdown in admin attribute management -->
    <type name="Magento\Eav\Model\Adminhtml\System\Config\Source\Inputtype">
        <arguments>
            <argument name="optionsArray" xsi:type="array">
                <item name="800" xsi:type="array">
                    <item name="value" xsi:type="string">numeric</item>
                    <item name="label" xsi:type="string" translate="true">Number</item>
                </item>
            </argument>
        </arguments>
    </type>
    <!-- Admin product grid: from/to range filter for Number attributes (Listing\Columns defaults to text) -->
    <type name="Magento\Catalog\Ui\Component\ColumnFactory">
        <plugin name="catalog_product_numeric_attribute_grid_filter_range"
                type="AdobeCommerce\CatalogProductNumericAttribute\Plugin\Ui\Component\ColumnFactoryPlugin"/>
    </type>
</config>
