<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\CatalogExportApi\Api\ProductRepositoryInterface" type="Magento\CatalogExport\Model\ProductRepository"/>
    <preference for="Magento\CatalogExportApi\Api\CategoryRepositoryInterface" type="Magento\CatalogExport\Model\CategoryRepository"/>
    <preference for="Magento\CatalogExportApi\Api\ReviewRepositoryInterface" type="Magento\CatalogExport\Model\ReviewRepository"/>
    <preference for="Magento\CatalogExportApi\Api\RatingMetadataRepositoryInterface" type="Magento\CatalogExport\Model\RatingMetadataRepository"/>
    <preference for="Magento\CatalogDataExporter\Model\Indexer\ProductIndexerCallbackInterface" type="Magento\CatalogExport\Model\Indexer\ProductIndexerCallback" />
    <preference for="Magento\CatalogDataExporter\Model\Indexer\CategoryIndexerCallbackInterface" type="Magento\CatalogExport\Model\Indexer\CategoryIndexerCallback" />
    <preference for="Magento\ProductReviewDataExporter\Model\Indexer\ReviewsIndexerCallbackInterface" type="Magento\CatalogExport\Model\Indexer\ReviewIndexerCallback" />
    <preference for="Magento\ProductReviewDataExporter\Model\Indexer\RatingMetadataIndexerCallbackInterface" type="Magento\CatalogExport\Model\Indexer\RatingMetadataIndexerCallback" />

    <type name="Magento\CatalogExport\Model\ProductRepository">
        <arguments>
            <argument name="logger" xsi:type="object">CatalogStorefrontConnectorLogger</argument>
        </arguments>
    </type>

    <virtualType name="Magento\CatalogExport\Model\Indexer\CategoryIndexerCallback"
                 type="Magento\CatalogExport\Model\Indexer\EntityIndexerCallback">
        <arguments>
            <argument name="feedIndexMetadata" xsi:type="object">Magento\CatalogDataExporter\Model\Indexer\CategoryFeedIndexMetadata</argument>
            <argument name="topicName" xsi:type="string">catalog.export.category.data</argument>
            <argument name="updatedEventType" xsi:type="string">categories_updated</argument>
            <argument name="deletedEventType" xsi:type="string">categories_deleted</argument>
        </arguments>
    </virtualType>

    <virtualType name="Magento\CatalogExport\Model\Indexer\ProductIndexerCallback"
                 type="Magento\CatalogExport\Model\Indexer\EntityIndexerCallback">
        <arguments>
            <argument name="feedIndexMetadata" xsi:type="object">Magento\CatalogDataExporter\Model\Indexer\ProductFeedIndexMetadata</argument>
            <argument name="topicName" xsi:type="string">catalog.export.product.data</argument>
            <argument name="updatedEventType" xsi:type="string">products_updated</argument>
            <argument name="deletedEventType" xsi:type="string">products_deleted</argument>
        </arguments>
    </virtualType>

    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="dto_auto_generation" xsi:type="object">
                    Magento\CatalogExport\Console\Command\GenerateDTOFiles
                </item>
            </argument>
        </arguments>
    </type>

    <virtualType name="Magento\CatalogExport\Model\Indexer\ReviewIndexerCallback"
                 type="Magento\CatalogExport\Model\Indexer\EntityIndexerCallback">
        <arguments>
            <argument name="feedIndexMetadata" xsi:type="object">Magento\ProductReviewDataExporter\Model\Indexer\ProductReviewsFeedIndexMetadata</argument>
            <argument name="topicName" xsi:type="string">export.product.reviews</argument>
            <argument name="updatedEventType" xsi:type="string">reviews_updated</argument>
            <argument name="deletedEventType" xsi:type="string">reviews_deleted</argument>
        </arguments>
    </virtualType>

    <virtualType name="Magento\CatalogExport\Model\Indexer\RatingMetadataIndexerCallback"
                 type="Magento\CatalogExport\Model\Indexer\EntityIndexerCallback">
        <arguments>
            <argument name="feedIndexMetadata" xsi:type="object">Magento\ProductReviewDataExporter\Model\Indexer\RatingFeedIndexMetadata</argument>
            <argument name="topicName" xsi:type="string">export.rating.metadata</argument>
            <argument name="updatedEventType" xsi:type="string">rating_metadata_updated</argument>
            <argument name="deletedEventType" xsi:type="string">rating_metadata_deleted</argument>
        </arguments>
    </virtualType>
</config>
