<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\CatalogExportApi\Api\ProductRepositoryInterface" type="Magento\CatalogExport\Model\ProductRepository"/>
    <preference for="Magento\CatalogExportApi\Api\CategoryRepositoryInterface" type="Magento\CatalogExport\Model\CategoryRepository"/>
    <preference for="Magento\CatalogExportApi\Api\ProductVariantRepositoryInterface" type="Magento\CatalogExport\Model\ProductVariantRepository"/>
    <preference for="Magento\CatalogExportApi\Api\ReviewRepositoryInterface" type="Magento\CatalogExport\Model\ReviewRepository"/>
    <preference for="Magento\CatalogExportApi\Api\RatingMetadataRepositoryInterface" type="Magento\CatalogExport\Model\RatingMetadataRepository"/>

    <type name="Magento\CatalogExport\Model\GenerateDTOs">
        <arguments>
            <argument name="baseConfigEntities" xsi:type="array">
                <item name="Product" xsi:type="string">Product</item>
                <item name="Category" xsi:type="string">Category</item>
                <item name="ProductVariant" xsi:type="string">ProductVariant</item>
                <item name="Review" xsi:type="string">Review</item>
                <item name="RatingMetadata" xsi:type="string">RatingMetadata</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Setup\Module\Di\App\Task\Operation\ApplicationCodeGenerator">
        <plugin name="GenerateExportDTOs" type="Magento\CatalogExport\Plugin\GenerateApplicationCode" sortOrder="0"/>
    </type>
</config>
